<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Daily Task 2 Onichan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="/takut.jpg" class="w-25" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="http://localhost:3000/"
                >Homepage</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid mt-4">
        <div class="row">
          <div class="col-4"><h3>Silakan pilih data yang diinginkan :</h3></div>
          <div class="col-8">
            <div>
              <div class="row">
                <div class="col">
                  <div class="input-group mb-3">
                    <select class="form-select" 
                    id="favoriteFruit" placeholder="Favorite Fruit" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <option value="">Pilih Fav Fruit</option>
                    <% for( property in favoriteFruit) { %>
                      <option value="<%= property %>"><%= property %></option>
                      <% } %>
                    <span class="input-group-text" id="basic-addon2"><i class="bi bi-star-fill"></i></span>
                    </select>
                  </div>
                </div>

                <div class="col">
                  <div class="input-group mb-3">
                    <select class="form-select" 
                    id="eyeColor" placeholder="Favorite Fruit" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <option value="">Pilih Eye Color</option>
                    <% for( property in eyeColor) { %>
                      <option value="<%= property %>"><%= property %></option>
                      <% } %>
                    <span class="input-group-text" id="basic-addon2"><i class="bi bi-star-fill"></i></span>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="age" placeholder="Age" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><i class="bi bi-calendar2-date-fill"></i></span>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group mb-3">
                    <select class="form-select" 
                    id="company" placeholder="Favorite Fruit" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <option value="">Pilih Company</option>
                    <% for( property in company) { %>
                      <option value="<%= property %>"><%= property %></option>
                      <% } %>
                    <span class="input-group-text" id="basic-addon2"><i class="bi bi-star-fill"></i></span>
                    </select>
                  </div>
                </div>
                <div class="col"><button type="button" class="btn btn-success w-100" id="cari">Cari</button></div>
              </div>
            </div>
          </div>